{% extends "navbar.html" %}
{% block content %}
<div style="text-align: center;">
    <h1>Fun Facts About Ducks!</h1>
    <h2>What Makes Ducks Unique</h2>
    <ul>
        <li>Ducks Are Found All Over the World</li>
        <li>They Belong to the Family Anatidae</li>
    </ul>

    <h2>Physical Features That Set Ducks Apart</h2>
    <ul>
        <li>Ducks Have Waterproof Feathers</li>
        <li>Webbed Feet Make Them Expert Swimmers</li>
        <li>Ducks See in Full Color</li>
    </ul>

    <h2>Quirky Duck Behaviors</h2>
    <ul>
        <li>Ducks Communicate with a Range of Sounds</li>
        <li>Not All Ducks Quack</li>
        <li>Ducks Sleep with One Eye Open</li>
    </ul>

    <h2>Fascinating Duck Reproduction Facts</h2>
    <ul>
        <li>Ducks Practice “Egg Dumping”</li>
        <li>Ducklings Can Swim Right After Hatching</li>
        <li>Ducks Have Elaborate Courtship Displays</li>
    </ul>

    <h2>Diet and Feeding Habits</h2>
    <ul>
        <li>Ducks Are Omnivores</li>
        <li>They Use a Unique Feeding Technique Called “Dabbling”</li>
        <li>Some Ducks Dive for Food</li>
    </ul>

    <h2>Ducks and Their Role in Ecosystems</h2>
    <ul>
        <li>Ducks Help Control Pests</li>
        <li>They Aid in Seed Dispersal</li>
    </ul>

    <h2>Cultural and Historical Significance</h2>
    <ul>
        <li>Ducks Appear in Ancient Mythology</li>
        <li>They Are Popular in Art and Literature</li>
    </ul>

    <h2>Surprising Duck Facts You Didn't Know</h2>
    <ul>
        <li>Ducks Can Live Up to 20 Years</li>
        <li>They Migrate Thousands of Miles</li>
        <li>Ducks Have Been Domesticated for Over 4,000 Years</li>
        <li>Some Ducks Change Color with the Seasons</li>
    </ul>
    <p style="font-size: 20px;background-color: #1d1b5b; color:white; margin-bottom: 0;padding: 10px;"><strong>Source: </strong><a style="color:white;" href="https://learnbirdwatching.com/23-fun-facts-about-ducks/">https://learnbirdwatching.com/23-fun-facts-about-ducks/</a></p>
</div>
{% endblock content %}