<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Get a Random Duck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://wizardcinema-flipperhammer-4000.codio.io/proxy/5000/static/website.css">
</head>
<body>
    <div class="navbar">
    <header>Get A Random Duck 🦆</header>
    <ul class="navbar-items">
        <li><a class="navbar-item" href="https://wizardcinema-flipperhammer-4000.codio.io/proxy/5000/">Home</a></li>
        <li><a class="navbar-item" href="https://wizardcinema-flipperhammer-4000.codio.io/proxy/5000/about">About</a></li>
        <li><a class="navbar-item" href="https://wizardcinema-flipperhammer-4000.codio.io/proxy/5000/facts">Facts</a></li>
    </ul>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>