<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Get a Random Duck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='website.css')}}">
</head>
<body>
    <div class="navbar">
    <header>Get A Random Duck 🦆</header>
    <ul class="navbar-items">
        <li><a class="navbar-item" href="/">Home</a></li>
        <li><a class="navbar-item" href="/about">About</a></li>
        <li><a class="navbar-item" href="/facts">Facts</a></li>
    </ul>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>
